<% cookies[:song_id] = song.id %>

<div class="playlist-frame">
  <header class="area-header">
    <div class="cover">
      <img src="<%= song.cover %>" />
      <div
        class="shadow"
        style="`background-image: url('<%= song.url %>');`"
      ></div>
    </div>
  </header>
  <main class="area-control">
    <section class="control-name-artist">
      <div class="item name rows">
        <span><%= song.name %></span>
      </div>
      <div class="item artist">
        <span><%= song.author %></span>
      </div>
      <div class="repeat">
        <img src="https://res.cloudinary.com/phucdx/image/upload/v1626272428/wataridori/songs/white_zaf7vc.png" alt="" class="">
      </div>
      <div class="sound d-flex justify-content-around">
        <i class="fa fa-volume-down" aria-hidden="true"></i>
        <div class="volume-slider">
          <input type="range" min="1" max="100" class="volume_slider js--volume">
          <div class="js--volume-slider"></div>
        </div>
        <i class="fa fa-volume-up js--volume-up" aria-hidden="true"></i>
      </div>
    </section>
    <section class="control-progress js--control-progress" ref="progress">
      <div class="slider_container">
        <input type="range" min="1" max="100" value="0" class="seek_slider js--progress">
        <div class="js--progress-slider"></div>
      </div>

      <div class="timer">
        <p class="text js--current-time">00:00</p>
        <p class="text js--total-duration">NaN</p>
      </div>
    </section>
    <section class="player-controls">
      <%= link_to "javascript:void(0)", class: "player-controls__item prevNext js--prev-song",
        data: { id: song.id, url: favorite_songs_path } do %>
        <svg class="icon">
          <use xlink:href="#icon-prev"></use>
        </svg>
      <% end %>
      <%= link_to "javascript:void(0)", class: "player-controls__item playBtn js--playpause-track",
        data: { url: favorite_songs_path, audio: song.url } do %>
        <svg class="icon">
          <use xlink:href="#icon-pause" class="pause-song d-none"></use>
          <use xlink:href="#icon-play" class="play-song"></use>
        </svg>
      <% end %>
      <%= link_to "javascript:void(0)", class: "player-controls__item prevNext js--next-song",
        data: { id: song.id, url: favorite_songs_path } do %>
        <svg class="icon">
          <use xlink:href="#icon-next"></use>
        </svg>
      <% end %>
    </section>
  </main>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    hidden
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <symbol id="icon-pause" viewBox="0 0 32 32">
        <title>Pause</title>
        <path
          d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z"
        ></path>
        <path
          d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z"
        ></path>
        <path
          d="M12.16 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z"
        ></path>
        <path
          d="M19.84 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z"
        ></path>
      </symbol>
      <symbol id="icon-play" viewBox="0 0 32 32">
        <title>Play</title>
        <path
          d="M21.216 15.168l-7.616-5.088c-0.672-0.416-1.504 0.032-1.504 0.832v10.176c0 0.8 0.896 1.248 1.504 0.832l7.616-5.088c0.576-0.416 0.576-1.248 0-1.664z"
        ></path>
        <path
          d="M13.056 22.4c-0.224 0-0.416-0.064-0.608-0.16-0.448-0.224-0.704-0.672-0.704-1.152v-10.176c0-0.48 0.256-0.928 0.672-1.152s0.928-0.224 1.344 0.064l7.616 5.088c0.384 0.256 0.608 0.672 0.608 1.088s-0.224 0.864-0.608 1.088l-7.616 5.088c-0.192 0.16-0.448 0.224-0.704 0.224zM13.056 10.272c-0.096 0-0.224 0.032-0.32 0.064-0.224 0.128-0.352 0.32-0.352 0.576v10.176c0 0.256 0.128 0.48 0.352 0.576 0.224 0.128 0.448 0.096 0.64-0.032l7.616-5.088c0.192-0.128 0.288-0.32 0.288-0.544s-0.096-0.416-0.288-0.544l-7.584-5.088c-0.096-0.064-0.224-0.096-0.352-0.096z"
        ></path>
        <path
          d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z"
        ></path>
        <path
          d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z"
        ></path>
      </symbol>
      <symbol id="icon-next" viewBox="0 0 32 32">
        <title>Next</title>
        <path
          d="M2.304 18.304h14.688l-4.608 4.576c-0.864 0.864-0.864 2.336 0 3.232 0.864 0.864 2.336 0.864 3.232 0l8.448-8.48c0.864-0.864 0.864-2.336 0-3.232l-8.448-8.448c-0.448-0.448-1.056-0.672-1.632-0.672s-1.184 0.224-1.632 0.672c-0.864 0.864-0.864 2.336 0 3.232l4.64 4.576h-14.688c-1.248 0-2.304 0.992-2.304 2.272s1.024 2.272 2.304 2.272z"
        ></path>
        <path
          d="M29.696 26.752c1.248 0 2.304-1.024 2.304-2.304v-16.928c0-1.248-1.024-2.304-2.304-2.304s-2.304 1.024-2.304 2.304v16.928c0.064 1.28 1.056 2.304 2.304 2.304z"
        ></path>
      </symbol>
      <symbol id="icon-prev" viewBox="0 0 32 32">
        <title>Previous</title>
        <path
          d="M29.696 13.696h-14.688l4.576-4.576c0.864-0.864 0.864-2.336 0-3.232-0.864-0.864-2.336-0.864-3.232 0l-8.448 8.48c-0.864 0.864-0.864 2.336 0 3.232l8.448 8.448c0.448 0.448 1.056 0.672 1.632 0.672s1.184-0.224 1.632-0.672c0.864-0.864 0.864-2.336 0-3.232l-4.608-4.576h14.688c1.248 0 2.304-1.024 2.304-2.304s-1.024-2.24-2.304-2.24z"
        ></path>
        <path
          d="M2.304 5.248c-1.248 0-2.304 1.024-2.304 2.304v16.928c0 1.248 1.024 2.304 2.304 2.304s2.304-1.024 2.304-2.304v-16.928c-0.064-1.28-1.056-2.304-2.304-2.304z"
        ></path>
      </symbol>
    </defs>
  </svg>
</div>
