<span class="vote-post-<%= post.id %>">
  <% if cookies[:browser_uid].in?(post.post_likes.collect(&:browser_uid)) %>
    <%= link_to "javascript:void(0)", class: "action__btn action__like js--btn-vote active",
      "data-post-id": "#{post.id}",
      "data-url-vote": unvote_post_path(post) do %>
      <span><%= post.likes_count %></span>
      <i class="action__btn__icon fa fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to "javascript:void(0)", class: "action__btn action__like js--btn-vote",
      "data-post-id": "#{post.id}",
      "data-url-vote": vote_post_path(post) do %>
      <span><%= post.likes_count %></span>
      <i class="action__btn__icon far fa-heart"></i>
    <% end %>
  <% end %>
</span>
