<div class="post__image">
  <%= cl_image_tag(post.image.url) %>
</div>
<div class="post__subtitle">
  <h1><%= post.title %></h1>
  <div class="post__author d-flex justify-content-evenly">
    <span class="post__info">
      <span class="post__submit">October 15, 2020 10:42 PM</span>
      <span class="author"> ・ by Dang Xuan Phuc</span>
      <span class="mr-3">・</span>
      <span>10 min read</span>
    </span>
    <span class="post__react">
      <i class="fas fa-eye"></i> <%= post.likes_count %>
      <i class="fas fa-heart"></i> <%= post.views_count %>
    </span>
  </div>
</div>
<div class="post__body">
  <%= markdown(post.content).html_safe %>
</div>
<div class="footer__post d-flex justify-content-between">
  <div class="tags-btn">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, "#" %>
    <% end %>
  </div>
  <%= link_to edit_post_path, class: "edit__post" do %>
    <i class="fas fa-pencil-alt"></i> Edit post
  <% end %>
</div>
