<div class="card__top">
  <% @posts.each do |post| %>
    <div class="card card__review">
      <%= cl_image_tag(post.image.url, class: "card-img-top") %>
      <div class="sub__title">
        <h1><%= link_to post.title, post %></h1>
        <div class="stats">
          <span class="date__author">
            <span class="date">December 4, 2020</span> by Dang Xuan Phuc
          </span>
          <span class="post__reaction">
            <span title="Likes"><i class="fas fa-eye"></i> <%= post.likes_count %></span>
            <span title="Views"><i class="fas fa-heart"></i> <%= post.views_count %></span>
          </span>
        </div>
      </div>
      <div class="post-body contents">
        <p class="card-text">
          <%= markdown(truncate(post.content, length: 700)).html_safe %>
        </p>
      </div>
      <div class="card__actions d-flex justify-content-between">
        <%= link_to "Read more", post, class: "read__more" %>
        <button class="delete__btn"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  <% end %>
</div>
