<div class="post__image">
  <%= cl_image_tag(post.image.url) %>
</div>
<div class="post__subtitle">
  <h1><%= post.title %></h1>
  <div class="post__author d-flex justify-content-evenly">
    <span class="post__info">
      <span class="post__submit"><%= post.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
      <span class="author"> ・ by Dang Xuan Phuc</span>
    </span>
    <span class="post__react">
      <span>10 min read</span>
      <span class="mr-3">・</span>
      <span title="Likes: <%= post.likes_count %>"><i class="fas fa-heart"></i> <%= post.likes_count %></span>
      <span title="Views: <%= post.views_count %>"><i class="fas fa-eye"></i> <%= post.views_count %></span>
    </span>
  </div>
</div>
<div class="post__body">
  <%= markdown(post.content).html_safe %>
</div>
<div class="footer__post d-flex justify-content-between">
  <div class="tags-btn">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, "#" %>
    <% end %>
  </div>
  <div class="class">
    <%= link_to edit_post_path, class: "edit__post me-2" do %>
      <i class="fas fa-pencil-alt"></i> Edit post
    <% end %>
    <%= link_to post_path, class: "delete__post", method: :delete,
      data: { confirm: "Are you sure" } do %>
      <i class="fas fa-trash"></i> Delete post
    <% end %>
  </div>
</div>
