<div class="post__image">
  <%= cl_image_tag(post.image.large.url) %>
</div>
<div class="post__subtitle">
  <h1>
    <%= post.title %>
    <% if post.privated? %>
      <span class="badge badge-secondary private__label">Private</span>
    <% end %>
  </h1>
  <div class="post__author">
    <span class="post__info">
      <span class="post__submit"><%= post.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
      <span class="author"> ・ by Dang Xuan Phuc</span>
    </span>
    <span class="post__react">
      <span><%= reading_time(post.content) %> mins read</span>
      <span class="dot">・</span>
      <span title="Views: <%= post.views_count %>" class="action__btn action__view me-2">
        <span><%= post.views_count %></span>
        <i class="action__btn__icon fas fa-eye"></i>
      </span>
      <%= render "posts/link_to_vote", post: post %>
    </span>
  </div>
</div>
<div class="post__body">
  <div class="salary-duong">
    <%= markdown(replace_to_emoticon(post.content)) %>
  </div>
</div>
<div class="footer__post d-flex justify-content-between">
  <div class="tags-btn">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </div>
  <div class="class">
    <% if user_signed_in? %>
      <%= link_to edit_post_path(post), class: "edit__post me-2" do %>
        <i class="fas fa-pencil-alt"></i> Edit post
      <% end %>
      <%= link_to post_path(post), class: "delete__post", method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash"></i> Delete post
      <% end %>
    <% else %>
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="shareButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-share-alt"></i>
          Share
        </button>
        <ul class="dropdown-menu" aria-labelledby="shareButton1">
          <% share_url = share_url(post) %>
          <li><a class="dropdown-item" href="<%= share_url[:facebook] %>" target="_blank">Facebook</a></li>
          <li><a class="dropdown-item" href="<%= share_url[:twitter] %>" target="_blank">Twitter</a></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
