<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= display_meta_tags(default_meta_tags)%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= tag :meta, property: "og:site_name", content: "Wataridori's Blog" %>
    <%= yield :head %>
  </head>

  <body class="<%= 'dark-theme' if cookies[:theme] == 'dark' %>">
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
    <% if params[:action] != "song" && params[:action] != "emoticon" && params[:action] != "error_404" && params[:action] != "error_422" && params[:action] != "error_500" %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
